body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  
  background: #2F2E41;

  min-height:100vh;
}

.page {
  width: 1280px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 109px;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #FFF;
  text-decoration: none;
}

ul li a:hover {
  color: #00BFA6; 
  opacity: 1;
}

h1, ul, footer {
  font-family: 'JetBrains Mono', monospace;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  color: #FFF;
  text-align: center;

  font-weight: normal;
}

h1 span {
  color: #00BFA6;
  font-weight: normal;
}

section p {
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
  text-align: center;
  width: 604px;
  
  margin: 70px 0;
}

section p span {
  color: #00BFA6;
  font-weight: bold;
}

footer { 
  margin-top: 156px;
  
  font-size: 14px;
  line-height: 28px;
  color: #FFF;
  text-align: center;

  display: flex;
  justify-content: center;
  gap: 280px;
}

#line {
  width: 568px;
  height: 0;
  border: 1px #00BFA6 solid;
  
  margin: 0 auto 27px;
}

padlock {
  position: left;
  left: 0;
  bottom: 0;
}

